body{
			margin: 0;
			padding: 0;
		}
		#menu1{
			position: fixed;
			margin: 0;
			padding: 0;
			background-color: #212121;
			list-style-type: none;
			width: 100%;
			z-index: 2;
			overflow: hidden;
		}
		#menu1 li{
			background-color: #212121;
			float: left;
			border-right: 1px solid #686868;
		}
		 #menu1 li:last-child{
			float: right;
		}
		#menu1 li:nth-child(4){
			border: none;
		}
		#menu1 li a{
			text-decoration: none;
			color: white;
			display: block;
			padding: 8px 18px;
		}
		#menu1 li:hover{
			background-color: red;
		}
		a#aktiv{
			background-color: darkred;
		}
		#dp-content{
			position: absolute;
			background-color: #212121;
			display: none;
			z-index: 1;
			width: 130px;
		}
		#dropdown:hover #dp-content{
			display: block;
		}
		#dp-content a:hover{
			background-color: red;
		}
		#navbar{
			width: 350px;
			background-color: white;
			position: fixed;
		}
		#navbar1{
			height: 150px;
			border-bottom: 1px solid grey;
		}
		#profile1{
			position: absolute;
			left: 5px;
			top: 40px;
		}
		#text1{
			position: absolute;
			top: 70px;
			left: 160px;
		}
		#menu2{
			margin: 0;
			padding: 0;
			list-style-type: none;
			height: 1000px;
		}
		#menu2 a{
			text-decoration: none;
			color: black;
			padding: 8px;
			display: block;
			font-size: 13px;
		}
		#menu2 li:hover:not(#aktiv2){
			background-color: #536872;
		}
		#aktiv2{
			background-color: #318CE7;
		}
		section{
			position: absolute;
			background-color: #D0D0D0;
			top: 34px;
			left: 350px;
			width: 998px;
			height: 1550px;
		}
		.divs{
			display: inline-block;
			width: 230px;
			height: 100px;
			margin-left: 12px;
			color: #fff;
		}
		.cedveller:nth-child(odd){
			background-color: white;
		}
		#cedvel1 td{
			padding: 7px 0 7px 0;
			display: inline-block;
		}
		.sutun1{
			margin-left: 60px;
		}
		#cedvel2{
			margin: 5px;
			border: 1px solid grey;
		}
		#cedvel2 tr,td{
			padding: 5px;
		}
		#cedvel2 td{
			padding: 7px 0 7px 0;
			display: inline-block;
		}
		#cedvel2 tr:nth-child(odd){
			background-color: white;
		}
		button{
			background-color: #616161;
			color: white;
			margin: 10px;
			padding: 7px;
		}
		#imgdiv img{
			margin: 10px 15px 5px 5px;
		}
		#imgdiv span{
			position: relative;
			bottom: 13px;
			font-size: 19px;
		}
